@page {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: 4em;
    margin-right: 4em;

    /* headers*/
    @top-left {
        content: element(header);
    }

    @bottom-left {
        content: element(footer);
        font-family: sans-serif;
        font-size: 0.8em;
    }

    /* footers */
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-family: sans-serif;
        font-size: 0.8em;
    }
}

#header {
    position: running(header);
    font-family: sans-serif;
}

#footer {
    position: running(footer);
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

caption {
    font-size: 1.2em;
    font-weight: 400;
}

table.mainTableVulnerabilities {
    table-layout: fixed;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

thead.mainTableHeader tr th:nth-child(1)
{
    width: 15%;
}

thead.mainTableHeader tr th:nth-child(2)
{
    width: 15%;
}

thead.mainTableHeader tr th:nth-child(3)
{
    width: 25%;
}

thead.mainTableHeader tr th:nth-child(4)
{
    width: 45%;
}

thead.mainTableHeader {
    background-color: #8d8d8d;
    color: white;
}

thead.mainTableHeader tr th {
    padding: 0.5em;
    font-size: 1.2em;
    page-break-inside: avoid;
}
  
tbody.mainTableBody tr.mainTableBodyRow:nth-child(even) {
    background-color: #bbbbbb;
}

tbody.mainTableBody tr.mainTableBodyRow:nth-child(odd) {
    background-color: #dddddd;
}

thead.subTableHeader tr th:nth-child(1)
{
    width: 30%;
}

thead.subTableHeader tr th:nth-child(2)
{
    width: 40%;
}

thead.subTableHeader tr th:nth-child(3)
{
    width: 40%;
}

thead.subTableHeader tr th {
    padding: 0.5em;
    font-size: 1em;
    page-break-inside: avoid;
    vertical-align: text-top;
}
  
table.whitelistTableVulnerabilities {
    table-layout: fixed;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

thead.whitelistTableHeader tr th:nth-child(1)
{
    width: 15%;
}

thead.whitelistTableHeader tr th:nth-child(2)
{
    width: 15%;
}

thead.whitelistTableHeader tr th:nth-child(3)
{
    width: 20%;
}

thead.whitelistTableHeader tr th:nth-child(4)
{
    width: 20%;
}

thead.whitelistTableHeader tr th:nth-child(5)
{
    width: 15%;
}

thead.whitelistTableHeader tr th:nth-child(6)
{
    width: 15%;
}

thead.whitelistTableHeader {
    background-color: #8d8d8d;
    color: white;
}

thead.whitelistTableHeader tr th {
    padding: 0.5em;
    font-size: 1.2em;
    page-break-inside: avoid;
}
  
tbody.whitelistTableBody tr.whitelistTableBodyRow:nth-child(even) {
    background-color: #bbbbbb;
}

tbody.whitelistTableBody tr.whitelistTableBodyRow:nth-child(odd) {
    background-color: #dddddd;
}

td {
    padding: 0.5em;
    font-weight: 100;
    vertical-align: top;
}

tr {
    page-break-inside: avoid;
}

.vulnSevLow {
    font-weight: 800;
    background-color: lawngreen;
}

.vulnSevMedium {
    font-weight: 800;
    background-color: orange;
}

.vulnSevHigh {
    font-weight: 800;
    background-color: orangered;
}

.vulnSevCritical {
    font-weight: 800;
    color: white;
    background-color: darkred;
}

.severityCountBox {
    min-width: 6em;
}

.severityCount {
    font-size: 4em;
    white-space: nowrap;
    overflow: hidden;
}

.newVulnerabilityMarker {
    color: white;
    background-color: black;
    font-weight: 800;
    width: 3em;
}
